node_modules/
dist/
.env
.DS_Store
*.log

backend/vendor/
backend/.env
backend/storage/framework/cache/data/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/bootstrap/cache/*.php
backend/database/database.sqlite

frontend/node_modules/
frontend/dist/

DocumentosClientes/
